h3{text-align: center;
    border: 5px solid black;

}
td{border: 5px solid black;}
th{border: 5px solid black;
    font-size: larger;

}
.center{text-align: center;}
#font{font-size: x-large;
    text-align: center;

}
.gray{color: dimgrey;}





















